@model Szachy.Models.ViewModels.GraczDoKlubu
    
        <div class="btn-group" role="group">
            <a class="btn btn-primary text-white" asp-action="GraczDoKlubu" asp-route-Id="@Model">
                Dodaj
            </a>
        </div>
   
