@model int
    
        <div class="btn-group" role="group">
            <a class="btn btn-primary text-white" asp-action="PlayerClubDelete" asp-route-Id="@Model">
                DELETE
            </a>
        </div>
   
